.mantine-Calendar-root {
  width: 100% !important;
  max-width: 1200px !important;
  margin: 0 auto !important;
}

.mantine-Calendar-month {
  width: 100% !important;
}

.mantine-Calendar-monthCell {
  width: calc(100% / 7) !important;
  min-width: 120px !important;
}

.mantine-Calendar-calendarHeader {
  justify-content: center !important;
}

.mantine-Calendar-calendarHeaderControl {
  margin: 0 auto !important;
}